body {
  font: 12px Arial, Verdana, Helvetica, sans-serif;
  line-height: 130%; }
* {
  padding: 0;
  margin: 0; }
.z {
  border-spacing: 0;
  border-collapse: collapse; }
.z td {
  padding: 0; }
.bb {
  font-weight: bold; }
h2, h2 a {
  clear: both;
  font-size: 18px;
  line-height: 120%;
  margin-top: 10px;
  padding: 2px 0 12px 0;
  border-bottom: 1px solid #CCCCCC; }

#container {
  margin: 0 1px;
  width: 99%; }
#tt, #bt {
  margin-top: 1px; }
#header, #menu, .smnu, .print, .buttons {
  display: none; }
#content {
  padding-top: 15px; }
.inner_els {
  page-break-after: always;
  display: block!important; }

.pages {
  text-align: right;
  padding: 5px 4px 0 0; }
.bord {
  font-size: 12px;
  border-right: 1px solid #CCCCCC;
  border-bottom: 1px solid #CCCCCC; }
.bord th {
  border-left: 1px solid #CCCCCC;
  border-top: 1px solid #CCCCCC;
  text-align: left;
  padding: 7px; }
.bord th.c {
  text-align: center;
  width: 5%; }
.bord td {
  text-align: center;
  border-left: 1px solid #CCCCCC;
  border-top: 1px solid #CCCCCC;
  padding: 5px 7px 5px 7px; }
.bord td.l {
  text-align: left; }
.bord td.nc {
  text-align: left;
  white-space: nowrap; }