h2 {
  margin: 0;
  padding: 12px 0 12px 15px;
  background: #FFFFFF; }
h3 {
  padding-left: 0; }
label {
  cursor: default; }
.btn {
  background: #FFFFFF;
  padding: 4px 0; }
#container {
  min-width: 1004px; }
* html #container {
  width: expression(((document.compatMode && document.compatMode=='CSS1Compat') ? document.documentElement.clientWidth : document.body.clientWidth) < 1010 ? "1004px" : "100%");
  height: expression((this.clientHeight > document.documentElement.clientHeight) ? "" : "100%"); }
#header {
  background: #F3F3F3; }
* html #header {
  height: 95px;
  he\ight: 85px; }
#popup {
  position: absolute; }
#popup textarea {
  height: 109px; }
#menu {
  border-right: 2px solid #CCCCCC; }
* html .smnu li {
  padding: 7px 20px 8px 20px;
  border-bottom: 0; }
* html .smnu li.tab_act {
  border-bottom: 0; }
a.btn {
  padding: 4px 5px 5px 5px; }
.instr {
  margin: -5px 0 5px 0; }
.print {
  padding-left: 0; }
.buttons {
  margin-top: 5px; }
.nofloat {
  zoom: 1; }
* html .ieFix {
  margin-left: -3px; }